<html>
    <head>
      <title>Yolo</title>
    <head>
    </body>
    <h1> Pasta </h1>
    <h2><a href="">My first post</a></h2>
    <p>Igor, is that you? Do you remember me? We were in the same class.
      I've recognised you from your schizoid words and verbal shit-outs.
      Remember how we all pissed in your cup in 3rd grade in the school buffet?
      And how you drank it all, smacked your lips and asked for a second one?
      And then your dad came, that one street janitor who molested a dog on
      Vernadsky avenue and got a suspended sentece for shoplifting a melted
      cheese. He came into the classroom, everyone started to laugh and you
      shit yourself from shame and said how you'll hate janitors for the rest
      of your life, but in 9th grade, when you went to a raid for revenge they
      gang fucked you so hard your ass had 8 stiches. How's it doing, Iggy? </p>

  </body>
</html>
